@import "tailwindcss";
@import "@nuxt/ui";

@layer theme {
    :root {
        --color-primary: #0a66c2;
    }
    .dark {
        --color-primary: #1E90FF;
    }
}

@theme {
  --color-primary: var(--color-primary);
}

html {
    scroll-behavior: smooth;
}

