@import "tailwindcss";
@import "@nuxt/ui";
@import './fonts.css';

@layer theme {
    :root {
        --color-primary: #0a66c2;
    }
    .dark {
        --color-primary: #1E90FF;
    }
}

@theme {
  --color-primary: var(--color-primary);
    --font-sans: Neue, sans-serif; 
    --font-serif: NeueLight, serif; 
    --font-rama: Rama, monospace;
    --font-sfpro_bold: SFproBold, sans-serif;
    --font-sfpro: SFpro, sans-serif;
    --font-roboto: Roboto, sans-serif;
    --font-georgia: Georgia, serif;
}

html {
    scroll-behavior: smooth;
}

